# Archivos de configuración del IDE
/.idea/
*.iml

# Archivos de compilación y target
target/
.mvn/
build/

# Archivos de caché y logs
.gradle/
.cache/
*.log

# Archivos de pruebas
**/test/
**/tests/

# Archivos de configuración de Spring Boot
.spring-boot-devtools/

# Archivos de configuración de Docker
Dockerfile
docker-compose.yml

# Archivos de documentación
docs/

# Archivos de terceros
**/node_modules/
**/bower_components/

# Archivos temporales
**/tmp/

# Archivos de configuración del sistema operativo
.DS_Store

# Archivos de configuración de Git
.git/
.gitignore

# Archivos específicos de IntelliJ IDEA
*.ipr
*.iws

# Archivos de configuración de Gradle
.gradlew
.gradlew.bat

# Archivos de configuración de Maven
**/pom.xml.bak
